<footer class="site-footer">
  <p>
    Copyright {{ site.creat_time }} © {{ site.site_url }}
  </p>
  <p>
    email: {{ site.email }}
  </p>
</footer>


<div class="progress-indicator" style="width: 0%;"></div>

<div id="back-top">
  <a href="#section" data-toggle="tooltip" data-placement="top" title="top">
    <i class="fa fa-chevron-up" aria-hidden="true">Top</i>
  </a>
</div>

<script src="{{ "/assets/js/jquery.min.js " | relative_url }}"></script>
<script src="{{ "/assets/js/xiaobao-blog.js " | relative_url }}"></script>

