<div class="contact-info">
  <div class="contact-info-content">
    <div>
      <a class="about"
        href="{{ site.data.contactInfo.about.path | relative_url }}"
        target="_blank">
        {{ site.data.contactInfo.about.title }}
      </a>
      <a class="comment"
        href="{{ site.data.contactInfo.comments.path | relative_url }}">
        {{ site.data.contactInfo.comments.title }}
      </a>
    </div>

    <ul>
        {% for group in site.data.contactInfo.group  %}
          <li>
            <dl>
              <dt>{{ group.title }}</dt>
                {% for item in group.list %}
                <dd>
                    <a href="{{ item.path }}" target="_blank">{{ item.title }}</a>
                  </dd>
                {% endfor %}
            </dl>
          </li>
        {% endfor %}
    </ul>
    
  </div>
</div>

<footer class="site-footer">
  <p>
    Copyright {{ site.creat_time }} © {{ site.site_url }}
  </p>
  <p>
    Author Email: {{ site.email }}
  </p>
  <p class="theme">
    Theme by 
    <a href="https://github.com/ShenBao"
      target="_blank" class="author"
      title="点击这里去GitHub看看">
      ShenBao
    </a>
     | 
    <iframe
        style="margin-left: 2px; margin-bottom:-5px;"
        frameborder="0" scrolling="0" width="90px" height="20px"
        src="https://ghbtns.com/github-btn.html?user=ShenBao&repo=xiaobao-blog&type=star&count=true" >
    </iframe>
  </p>
</footer>


<div class="progress-indicator" style="width: 0%;"></div>

<div class="back-top" id="back-top">
  <a href="#section" data-toggle="tooltip" data-placement="top" title="top">
    <i class="fa fa-chevron-up" aria-hidden="true">Top</i>
  </a>
</div>


<script src="{{ "/assets/js/config.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/emojify.js" | relative_url }}"></script>
<script src="{{ "/assets/js/xiaobao-blog.js" | relative_url }}"></script>

