<div class="contact-info">
  <div class="contact-info-content">
    <p>
      <a href="{{ "/about" | relative_url }}" target="_blank">关于我</a>
    </p>
    <ul>
      <li>
        <dl>
          <dt>社交账号</dt>
          <dd>
            <a href="https://weibo.com/{{ site.weibo_username }}" target="_blank">微博</a>
          </dd>
          <dd>
            <a href="{{ "/about" | relative_url }}" target="_blank">关于我</a>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>社区</dt>
          <dd>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
          </dd>
          <dd>
            <a href="https://cnodejs.org/user/{{ site.cnode_username }}" target="_blank">Cnode</a>
          </dd>
          <dd>
            <a href="https://www.zhihu.com/people/{{ site.zhihu_username }}/posts" target="_blank">知乎</a>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>推荐链接</dt>
          <dd>
            <a href="https://shenbao.github.io" target="_blank">Blog</a>
          </dd>
          <dd>
            <a href="https://shenbao.github.io/shenbao-learn-notes" target="_blank">Notes</a>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>其他</dt>
          <dd>
            <a href="https://shenbao.github.io/angular-cnode" target="_blank">Angular CNode</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<footer class="site-footer">
  <p>
    Copyright {{ site.creat_time }} © {{ site.site_url }}
  </p>
  <p>
    author email: {{ site.email }}
  </p>
  <p class="theme">
    Theme by <a href="https://github.com/ShenBao/xiaobao-blog" target="_blank" class="author">ShenBao</a>
  </p>
</footer>


<div class="progress-indicator" style="width: 0%;"></div>

<div id="back-top">
  <a href="#section" data-toggle="tooltip" data-placement="top" title="top">
    <i class="fa fa-chevron-up" aria-hidden="true">Top</i>
  </a>
</div>

<script src="{{ "/assets/js/jquery.min.js " | relative_url }}"></script>
<script src="{{ "/assets/js/xiaobao-blog.js " | relative_url }}"></script>

