/**
 * layout
 */

html {
    height: 100%;
}

._body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    code {
        background: none;
        color: #d20992
    }
    th {
        font-weight: bold;
    }
    td {
        padding: 6px 13px;
        border: 1px solid #ddd;
    }
    tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
    }
    tr:nth-child(2n) {
        background-color: #f8f8f8;
    }
}

img.emoji {
    width: 20px;
    max-width: 20px !important;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-size: 20px;
}


/**
 * Wrapper
 */

.wrapper,
.contact-info-content {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

// .contact-list,
// .social-media-list {
//   list-style: none;
//   margin-left: 0;
// }
// .footer-col-wrapper {
//   @include relative-font-size(0.9375);
//   color: $grey-color;
//   margin-left: -$spacing-unit / 2;
//   @extend %clearfix;
// }
// .footer-col {
//   float: left;
//   margin-bottom: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
// }
// .footer-col-1 {
//   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//   width:         calc(35% - (#{$spacing-unit} / 2));
// }
// .footer-col-2 {
//   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//   width:         calc(20% - (#{$spacing-unit} / 2));
// }
// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width:         calc(45% - (#{$spacing-unit} / 2));
// }
// @include media-query($on-laptop) {
//   .footer-col-1,
//   .footer-col-2 {
//     width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//     width:         calc(50% - (#{$spacing-unit} / 2));
//   }
//   .footer-col-3 {
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }
// @include media-query($on-palm) {
//   .footer-col {
//     float: none;
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }