/**
* site-footer
*/

.site-footer {
    background-color: $text-color;
    color: $white-color;
    line-height: 25px;
    a {
        color: $white-color;
    }
    .license-content {
        max-width: 880px;
        padding-top: 20px;
        img {
            margin-left: 20px;
            height: 25px;
        }
        p {
            padding: 0 10px;
            font-size: 12px;
            text-align: center;
            line-height: 1.5;
        }
    }
    .copyright-content {
        padding: 20px 0 40px;
        p {
            text-align: center;
        }
        a {
            color: $white-color;
        }
        .theme {
            font-size: 14px;
            line-height: 20px;
            .author {
                color: $main-color;
                font-weight: 900;
            }
        }
    }
}

/**
* code-edit
*/

.code-edit {
    position: fixed;
    bottom: 60px;
    left: 2em;
    a {
        background: $main-color;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        width: 40px;
        height: 40px;
        display: block;
        color: $white-color;
        text-align: center;
        border-radius: 3px 3px;
        text-decoration: none;
        color: azure;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        &:hover {
            background-color: $main-color;
        }
    }
}

/* back-top */

.back-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 2em;
    a {
        background: rgba(0, 0, 0, 0.45);
        background: $main-color;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        width: 40px;
        height: 40px;
        display: block;
        font-size: 36px;
        color: $white-color;
        text-align: center;
        border-radius: 3px 3px;
        text-decoration: none;
        &:hover {
            background-color: $main-color;
        }
    }
    i {
        font-size: 16px;
        line-height: 40px;
        vertical-align: top;
    }
    .fa-chevron-up:before {
        color: $white-color;
    }
}

@media only screen and (max-width: 768px) {
    /* 返回顶部贴右边 */
    .back-top {
        right: 0.5em;
    }
    .code-edit {
        left: 0.5em;
    }
}

.progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 3px;
    z-index: 99;
    background-color: $mian-hover-color;
}