.contact-info {
    background: #F9F9F9;
    border-top: 1px solid rgba(230, 230, 230, 0.99);
    .contact-info-content {
        width: 100%;
        padding: 25px;
        font-size: 14px;
    }
    p {
        margin-left: 30px;
        font-size: 16px;
    }
    ul {
        list-style: none;
        li {
            float: left;
            width: 150px;
            margin-top: 15px;
            dt {
                font-size: 16px;
                color: #1E1E1E;
                line-height: 22px;
                margin-bottom: 5px;
            }
            dd {
                line-height: 25px;
                color: #6D6D6D;
                a {
                    color: #6E717C;
                }
            }
        }
    }
}

.site-footer {
    background-color: black;
    padding: 10px 0;
    color: white;
    line-height: 25px;
    p {
        text-align: center;
    }
    a {
        color: white;
    }
    .theme {
        font-size: 14px;
        line-height: 20px;
        .author {
            color: #1756a9;
            font-weight: 900;
        }
    }
}