/**
 * Page content
 */

.page-content {
    padding: 10px 0 50px;
    flex: 1;
    color: $text-color; // overflow-x: scroll;
    overflow-x: hidden;
    a {
        color: $text-color;
    } 
    // ul,
    // ol {
    //     padding-left: 5px;
    // }
}

.page-heading {
    @include relative-font-size(1.25);
}