/**
 * Page content
 */

.page-content {
    padding: 10px 0 50px;
    ;
    flex: 1;
    color: #333333;
    a {
        color: #000000;
    }
    // ul,
    // ol {
    //     padding-left: 5px;
    // }
}

.page-heading {
    @include relative-font-size(1.25);
}