/**
 * Posts
 */

.post {
    .post-header {
        margin-bottom: $spacing-unit;
        .post-title {
            @include relative-font-size(2.625);
            letter-spacing: -1px;
            line-height: 1;
            @include media-query($on-laptop) {
                @include relative-font-size(2.25);
            }
        }
        .post-meta {
            line-height: 2.5rem;
            span {
                font-style: italic;
            }
        }
    }
    .post-content {
        margin-bottom: $spacing-unit;
        line-height: 1.8;
        font-size: 16px;
        color: #404040;
        p {
            margin-bottom: 8px;
        }
        h2 {
            @include relative-font-size(2);
            @include media-query($on-laptop) {
                @include relative-font-size(1.75);
            }
        }
        h3 {
            @include relative-font-size(1.625);
            @include media-query($on-laptop) {
                @include relative-font-size(1.375);
            }
        }
        h4 {
            @include relative-font-size(1.25);
            @include media-query($on-laptop) {
                @include relative-font-size(1.125);
            }
        }
    }
}