.tool-bar {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 40px;
    bottom: 50px;
    list-style: none;
    border: 1px solid #DDD;
    background: rgba(243, 240, 240, 0.99);
    border-radius: 3px;
    overflow: hidden;
}

@include media-query($on-palm) {
    .tool-bar {
        right: 20px;
    }
}

.tool-bar li {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #DDD;
}

.tool-bar li:last-child {
    border-bottom: 0;
}

.tool-bar li a {
    text-decoration: none;
}

.tool-bar li i {
    font-size: 25px !important;
    color: #333;
    font-weight: 500;
}

.tool-bar li:hover i {
    display: none;
}

.tool-bar li span {
    display: none;
    font-size: 10px;
    color: #0085a1;
    font-weight: 900;
}

.tool-bar li:hover span {
    display: inline;
}